* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}
p {
    font-weight: 400;
}
header, #hero, footer{
    background-color: #1F2937;
    color: ;
}
section {
    height: 350px;
    padding: 35px;
    display: flex;
    justify-content: center; 
    align-content: center; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

nav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    
}
nav li {
    margin-left: 20px;
    color: #e5e7eb;
}

#logo-text {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    
}

#sign-up-btn {
    color:#F9faf8;
    background-color:#3882F8 ;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px 10px;
    border: none;
    width: 120px;
    height: auto;
    flex-shrink: 0;
}

button {
    font-size: 18px;
    font-weight: 500;

}

#hero {
    display: flex;
    /* justify-content: space-between;
    
    align-items: center; */
     
}
#container {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items:center; 
    margin: 0 auto;   

}

#quote #container  {
    flex-direction: column;
    width: 830px;
}



#hero h1{
    font-size: 48px;
    font-weight: 1100;
    color: #f9faf8;
}

#hero p {
 font-size: 18px;
 color: #e5e7eb;
}

.hero-text {
    width: 450px;
    margin-right: 50px;
}

#hero_img {
    width: 450px;
    
}

#info h2 {
    font-size: 36px;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    font-weight: 900;
  
}

#info {
    color:#1F2937;
    display: flex;
    flex-direction: column;

}

/* #info #items {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    max-width: 450px;
} */

#item-img {
 border: 3px solid #3882F8;
 border-radius: 15px;
 width: 180px;
}
#item {
    width: 190px;
    margin: 20px;
    
}

#item p {
   font-size: 18px; 
   padding: 10px;
   text-align: center;
}

#quote {
    
    color: #1F2937;
    background-color: #e5e7eb;
    margin: 0s;
    /* light italic */

}

#quote-txt {
     font-style: italic;
     font-weight: 600;
     font-size: 36px;
     letter-spacing: 1px;
}

#quote-author {
    font-weight: 700;
    font-size: 24px;
    margin-left: auto;
}

#sign-up-item {
    background-color: #3882F8;
    color: #e5e7eb;
    border-radius: 10px;
    width: 1000px;
    height: 115px;
    padding: 20px 40px 20px 40px;
    align-items:center;
    justify-content: space-evenly;
    display: flex;
}

#sign-up-text {
    width: 550px;
}

#sign-up-item button {
    border: 2px solid #e5e7eb;
    margin: 0;
    
}

footer {
    color: #e5e7eb;
    font-size: 18px;
    text-align: center;
    padding: 30px;
}
