* {
    font-family: 'Roboto', sans-serif;
}
header, #hero, footer{
    background-color: #1F2937;
    color: ;
}

nav ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}

#logo-text {
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    
}

#sign-up-btn {
    color:#F9faf8;
    background-color:#3882F8 ;
    border-radius: 10px;
    padding: 10px 10px;
    border: none;
    font-weight: 500;
}

#hero h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

#hero p {
 font-size: 18px;
 color: #e5e7eb;
}

#hero_img {

}

#info {

}

#item-img {

}

#quote {

}

#sign-up-item {

}